body {
    font-family: 'Lato', sans-serif;
    margin-bottom: 150px;
    text-align: center;


}

/* .space {
    line-height: 2.5;

} */

.size {
    font-size: 70px;
    text-align: center;
}

.detail {
    margin-bottom: 80px;
}

.amount {
    margin-top: 50px;
}

.other {
    margin-top: 80px;
}

.br {
    border: 0.5px solid gray;
    margin-left: 200px;
    margin-right: 200px;
}



h2 {
    display: inline;
    margin: 1%;
    padding: 40px;
    background-color: seashell;
}

.Border {
    border: 5px solid tomato;
}

.color {
    color: white;
}

.top-banner {
    background-image: url(images/donation12.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    padding-top: 5%;
    background-size: cover;


}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, crimson);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    line-height: 5;

}

.line {
    width: 100%;
}

.donate-plan {
    margin-bottom: 50px;
}

section {
    display: flex;
}

#Food {
    background-color: burlywood;
    text-align: left;
    font-size: 22px;
    padding-left: 3%;
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: content-box;

}

#Shelter {
    background-color: aquamarine;
    text-align: left;
    font-size: 22px;
    padding-left: 3%;
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: content-box;
}

#Education {
    background-color: cyan;
    text-align: left;
    font-size: 22px;
    padding-left: 3%;
    padding-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    box-sizing: content-box;
}

.email-background {
    background-color: antiquewhite;
    height: 150px;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 40px;
}

.email-field {
    background-color: aliceblue;
    margin-top: 60px;
    width: 200px;
    height: 30px;


}

.btn {
    background-color: crimson;
    width: 100px;
    height: 36px;
    color: white;
}

/* .inp-btn {
    border-radius: 15px;

} */

footer {
    /* text-align: center; */
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    width: 100%;

}

.foot {
    color: coral
}

.font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}